{% extends "base.html" %} 
{% block content %} 
    <form method = "POST">
        <h1 align = "center"> Gaming! </h1>
            {% for contents in content %}
            <div class="card mb-3">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"> {{ contents.title }} </h5>
                  <p class="card-text"> {{ contents.intro }} </p>
                  <p class="card-text"><small class="text-muted"> {{ contents.time }} </small></p>
                  <div class = "d-grid gap-2 col-6 mx-auto">
                    <button class = "btn btn-dark" name = "viewmore" value = "{{contents.content_id}}" formmethod = "POST"> View More </button>
                  </div>
                </div>
              </div>
            {% endfor %}  
    </form>
{% endblock %}